.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.980957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.053223;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.683105;font-style:normal;font-weight:normal;visibility:visible;}
.m4{transform:matrix(0.240741,0.067406,-0.067406,0.240741,0,0);-ms-transform:matrix(0.240741,0.067406,-0.067406,0.240741,0,0);-webkit-transform:matrix(0.240741,0.067406,-0.067406,0.240741,0,0);}
.m7{transform:matrix(0.244314,-0.053015,0.053015,0.244314,0,0);-ms-transform:matrix(0.244314,-0.053015,0.053015,0.244314,0,0);-webkit-transform:matrix(0.244314,-0.053015,0.053015,0.244314,0,0);}
.m8{transform:matrix(0.245327,-0.048112,0.048112,0.245327,0,0);-ms-transform:matrix(0.245327,-0.048112,0.048112,0.245327,0,0);-webkit-transform:matrix(0.245327,-0.048112,0.048112,0.245327,0,0);}
.m6{transform:matrix(0.246388,-0.042345,0.042345,0.246388,0,0);-ms-transform:matrix(0.246388,-0.042345,0.042345,0.246388,0,0);-webkit-transform:matrix(0.246388,-0.042345,0.042345,0.246388,0,0);}
.m5{transform:matrix(0.247104,-0.037941,0.037941,0.247104,0,0);-ms-transform:matrix(0.247104,-0.037941,0.037941,0.247104,0,0);-webkit-transform:matrix(0.247104,-0.037941,0.037941,0.247104,0,0);}
.m1{transform:matrix(0.247741,0.033535,-0.033535,0.247741,0,0);-ms-transform:matrix(0.247741,0.033535,-0.033535,0.247741,0,0);-webkit-transform:matrix(0.247741,0.033535,-0.033535,0.247741,0,0);}
.m2{transform:matrix(0.247997,0.031583,-0.031583,0.247997,0,0);-ms-transform:matrix(0.247997,0.031583,-0.031583,0.247997,0,0);-webkit-transform:matrix(0.247997,0.031583,-0.031583,0.247997,0,0);}
.m3{transform:matrix(0.249674,-0.012768,0.012768,0.249674,0,0);-ms-transform:matrix(0.249674,-0.012768,0.012768,0.249674,0,0);-webkit-transform:matrix(0.249674,-0.012768,0.012768,0.249674,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(68,149,162),0 0.015em rgb(68,149,162),0.015em 0 rgb(68,149,162),0 -0.015em  rgb(68,149,162);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(68,149,162);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc6{color:rgb(0,176,80);}
.fc5{color:rgb(223,140,64);}
.fc4{color:rgb(135,96,173);}
.fc0{color:rgb(68,149,162);}
.fc3{color:rgb(68,94,162);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(223,93,64);}
.fs6{font-size:76.000000px;}
.fs1{font-size:79.999998px;}
.fs2{font-size:79.999999px;}
.fs7{font-size:80.000001px;}
.fs3{font-size:80.000002px;}
.fs4{font-size:95.999999px;}
.fs5{font-size:96.000002px;}
.fs8{font-size:160.000000px;}
.fs9{font-size:172.000000px;}
.fs0{font-size:176.000000px;}
.y0{bottom:0.000000px;}
.y16{bottom:55.819401px;}
.yc{bottom:65.784491px;}
.y15{bottom:77.419399px;}
.yb{bottom:91.584035px;}
.y14{bottom:99.019398px;}
.y12{bottom:110.509604px;}
.ya{bottom:119.744322px;}
.y11{bottom:130.154228px;}
.yd{bottom:136.577192px;}
.y1d{bottom:138.808756px;}
.y10{bottom:152.661513px;}
.y9{bottom:165.801142px;}
.yf{bottom:182.392584px;}
.y1c{bottom:189.208750px;}
.ye{bottom:193.827517px;}
.y1b{bottom:236.728769px;}
.y1a{bottom:286.408762px;}
.y2{bottom:330.535156px;}
.y19{bottom:335.368753px;}
.y1{bottom:384.535156px;}
.y5{bottom:391.248757px;}
.y8{bottom:410.270088px;}
.y17{bottom:414.760475px;}
.y4{bottom:425.782602px;}
.y7{bottom:437.993806px;}
.y13{bottom:442.229355px;}
.y6{bottom:473.234247px;}
.y18{bottom:473.537207px;}
.y3{bottom:475.977110px;}
.h8{height:55.330078px;}
.h2{height:58.242186px;}
.h6{height:58.242188px;}
.h4{height:58.242189px;}
.h3{height:66.718749px;}
.h9{height:66.718750px;}
.h5{height:80.062499px;}
.h7{height:80.062502px;}
.ha{height:106.640625px;}
.hb{height:143.445312px;}
.h1{height:146.781250px;}
.h0{height:612.000000px;}
.w0{width:792.000000px;}
.x0{left:0.000000px;}
.x4{left:40.868974px;}
.x5{left:53.986293px;}
.x3{left:73.303270px;}
.x9{left:96.328123px;}
.xb{left:97.564581px;}
.xc{left:100.476597px;}
.xa{left:108.388677px;}
.x1b{left:236.687485px;}
.x19{left:246.437500px;}
.x1a{left:249.937500px;}
.x17{left:269.193390px;}
.x18{left:286.380981px;}
.x1{left:299.180016px;}
.x2{left:333.492512px;}
.x13{left:335.197731px;}
.x16{left:340.750023px;}
.x14{left:349.500023px;}
.xd{left:357.246113px;}
.x15{left:377.312515px;}
.xe{left:588.326965px;}
.x11{left:604.800539px;}
.x10{left:607.328821px;}
.x12{left:616.869198px;}
.x7{left:627.707422px;}
.x8{left:630.589148px;}
.xf{left:632.395011px;}
.x6{left:636.515740px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs6{font-size:101.333333pt;}
.fs1{font-size:106.666664pt;}
.fs2{font-size:106.666666pt;}
.fs7{font-size:106.666667pt;}
.fs3{font-size:106.666669pt;}
.fs4{font-size:127.999999pt;}
.fs5{font-size:128.000003pt;}
.fs8{font-size:213.333333pt;}
.fs9{font-size:229.333333pt;}
.fs0{font-size:234.666667pt;}
.y0{bottom:0.000000pt;}
.y16{bottom:74.425868pt;}
.yc{bottom:87.712654pt;}
.y15{bottom:103.225866pt;}
.yb{bottom:122.112047pt;}
.y14{bottom:132.025864pt;}
.y12{bottom:147.346138pt;}
.ya{bottom:159.659096pt;}
.y11{bottom:173.538970pt;}
.yd{bottom:182.102923pt;}
.y1d{bottom:185.078341pt;}
.y10{bottom:203.548684pt;}
.y9{bottom:221.068190pt;}
.yf{bottom:243.190112pt;}
.y1c{bottom:252.278333pt;}
.ye{bottom:258.436689pt;}
.y1b{bottom:315.638359pt;}
.y1a{bottom:381.878349pt;}
.y2{bottom:440.713542pt;}
.y19{bottom:447.158338pt;}
.y1{bottom:512.713542pt;}
.y5{bottom:521.665009pt;}
.y8{bottom:547.026784pt;}
.y17{bottom:553.013967pt;}
.y4{bottom:567.710136pt;}
.y7{bottom:583.991741pt;}
.y13{bottom:589.639140pt;}
.y6{bottom:630.978996pt;}
.y18{bottom:631.382942pt;}
.y3{bottom:634.636147pt;}
.h8{height:73.773437pt;}
.h2{height:77.656248pt;}
.h6{height:77.656250pt;}
.h4{height:77.656252pt;}
.h3{height:88.958333pt;}
.h9{height:88.958334pt;}
.h5{height:106.749999pt;}
.h7{height:106.750003pt;}
.ha{height:142.187500pt;}
.hb{height:191.260417pt;}
.h1{height:195.708333pt;}
.h0{height:816.000000pt;}
.w0{width:1056.000000pt;}
.x0{left:0.000000pt;}
.x4{left:54.491966pt;}
.x5{left:71.981724pt;}
.x3{left:97.737693pt;}
.x9{left:128.437498pt;}
.xb{left:130.086108pt;}
.xc{left:133.968795pt;}
.xa{left:144.518237pt;}
.x1b{left:315.583313pt;}
.x19{left:328.583333pt;}
.x1a{left:333.250000pt;}
.x17{left:358.924520pt;}
.x18{left:381.841309pt;}
.x1{left:398.906687pt;}
.x2{left:444.656682pt;}
.x13{left:446.930308pt;}
.x16{left:454.333364pt;}
.x14{left:466.000031pt;}
.xd{left:476.328150pt;}
.x15{left:503.083354pt;}
.xe{left:784.435953pt;}
.x11{left:806.400719pt;}
.x10{left:809.771762pt;}
.x12{left:822.492264pt;}
.x7{left:836.943230pt;}
.x8{left:840.785530pt;}
.xf{left:843.193347pt;}
.x6{left:848.687653pt;}
}
